body,
div,
button,
input,
form,
header,
section,
footer,
h1,
h2,
h3,
h4,
h5,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  color: #333;
  font-size: 16px;
  word-break: keep-all;
  word-wrap: break-word;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

ul,
li {
  list-style: none;
}

input {
  border: 0;
  vertical-align: top;
}

input::placeholder {
  color: gray;
}

button {
  color: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}

em {
  font-style: normal;
}

label {
  cursor: pointer;
}

strong {
  font-weight: 400;
}

/* input[type='checkbox'] {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 1px;
  text-indent: -9999px;
  white-space: nowrap;
  outline: 0;
} 
  */
